---
import { CardVariant, GradientBackground, ScrollBack, SimpleCard } from '@components';
import { t } from 'i18n:astro';
import Layout from '@layouts/Layout.astro';
import Contact from '@pages/_Sections/Contact/Contact.astro';
import Contributors from '@pages/_Sections/Contributors/Contributors.astro';
import Hero from '@pages/_Sections/Hero/Hero.astro';
import Profession from '@pages/_Sections/Profession/Profession.astro';
import StudyCases from '@pages/_Sections/StudyCases/StudyCases.astro';
import Thunder from '@pages/_Sections/Thunder/Thunder.astro';
import { GradientColor } from '../components/GradientBackground/GradientBackground.astro';
---

<Layout title="UX Ana Rangel">
  <main>
    <GradientBackground color={GradientColor.blue} />
    <Hero />
    <div class="container">
      <Profession />

      <div id={Astro.url.pathname.includes('/en') ? 'projects' : 'proyectos'} class="grid-auto-fit">
        <SimpleCard cardText={t('project_ripley_title')} cardImage="/svg/logo-ripley.svg" />

        <SimpleCard
          cardText={t('project_cta')}
          cardImage="/svg/img-ripley.svg"
          isInverted={true}
          variant={CardVariant.secondary}
          url="/banco-ripley"
          hasHover
        />

        <SimpleCard
          cardText={t('project_cta')}
          cardImage="/svg/frame_4.svg"
          variant={CardVariant.tertiary}
          isInverted={true}
          url="/planograma"
          hasHover
        />

        <SimpleCard cardText={t('project_cencosud_title')} cardImage="/svg/cencosud_logo.svg" />
      </div>

      <Thunder />

      <StudyCases />

      <Contact />
    </div>
    <Contributors />
    <ScrollBack />
  </main>
</Layout>

<style>
  .grid-auto-fit {
    max-width: 90%;
    margin: 0 auto;
  }

  main {
    overflow: hidden;
  }

  @media (width >= 992px) {
    main {
      padding-block-start: 4rem;

      & .container {
        max-width: 1280px;
        margin: 0 auto;
      }
    }

    .grid-auto-fit {
      --min-item-width: 30rem;
      --grid-gap: 2rem;

      margin-inline: auto;
      max-width: 100%;
    }
  }
</style>
