---
import designersData from './designers.json';

interface Designer {
  name: string;
  avatar_url: string;
  html_url: string;
}

interface Contributor {
  login: string;
  avatar_url: string;
  html_url: string;
}

const respDevs = await fetch(
  'https://api.github.com/repos/AnaRangel/anarangel.github.io/contributors'
);
const dataDevs: Contributor[] = await respDevs.json();
const dataDesigners: Designer[] = designersData;
---

<section class="contribuciones">
  <p class="contribuciones-title">Quienes han contribuido en el desarrollo y diseño</p>

  <span class="contribuciones-subtitle">Diseño</span>
  <div class="contribuidores">
    {
      dataDesigners.map((designer) => (
        <a href={designer.html_url} target="_blank" class="contribuidor" title={designer.name}>
          <img
            src={designer.avatar_url}
            alt={`Avatar ${designer.name}`}
            class="contribuidores-img"
          />
        </a>
      ))
    }
  </div>

  <span class="contribuciones-subtitle">Desarrollo</span>
  <div class="contribuidores">
    {
      dataDevs.map((contribuidor) => (
        <a
          href={contribuidor.html_url}
          target="_blank"
          class="contribuidor"
          title={contribuidor.login}
        >
          <img
            src={contribuidor.avatar_url}
            alt={`Avatar ${contribuidor.login}`}
            class="contribuidores-img"
          />
        </a>
      ))
    }
  </div>
</section>

<style lang="scss">
  .contribuciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .contribuciones-title {
      font-size: 40px;
      font-weight: 500;
      line-height: 60px;
      text-align: center;
      margin-bottom: 24px;
    }

    .contribuciones-subtitle {
      font-size: 24px;
      font-weight: 500;
      line-height: 14px;
      text-align: left;
      margin-bottom: 24px;
    }

    .contribuidores {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1044px;
      width: 100%;
      margin-bottom: 24px;

      a {
        position: relative;
        margin-left: -10px;
      }

      .contribuidores-img {
        cursor: pointer;
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
        border: solid 0.62px #4d4a4a;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }

      a::after {
        content: attr(title);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
        pointer-events: none;
      }

      a:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .contribuciones {
      .contribuidores {
        width: calc(100% - 2rem);
        margin-bottom: 32px;
      }

      .contribuidores-img {
        margin-bottom: 32px;
      }
    }
  }
</style>
