---
interface Props {
  /**
   * URL of the company's logo image
   */
  companyLogoUrl: string;

  /**
   * Name of the company providing the testimony
   */
  companyName: string;

  /**
   * Full name of the person providing the testimony
   */
  personFullName: string;

  /**
   * Job title or profession of the person providing the testimony
   */
  personJobTitle: string;

  /**
   * Testimonial text provided by the person
   */
  testimonyText: string;

  /**
   * URL to the full testimonial
   */
  fullTestimonyUrl: string;
}

const {
  companyLogoUrl,
  companyName,
  personFullName,
  personJobTitle,
  testimonyText,
  fullTestimonyUrl,
} = Astro.props;
---

<article class="card-testimony">
  <div class="card-testimony__company">
    <img src={companyLogoUrl} alt={companyName} class="card-testimony__company-logo" />
    <h2 class="card-testimony__company-name">{companyName}</h2>
  </div>
  <div class="card-testimony__person">
    <h3 class="card-testimony__person-name">{personFullName}</h3>
    <p class="card-testimony__person-job">{personJobTitle}</p>
  </div>
  <div class="card-testimony__bio">
    <p class="card-testimony__text">{testimonyText}</p>
  </div>
  <a class="card-testimony__Link" href={fullTestimonyUrl} target="_blank" rel="noopener noreferrer">
    <span class="card-testimony__Link-text"> Leer completo </span>
    <span class="card-testimony__Link-icon">
      <svg
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.32951 18.3961C5.89017 17.9567 5.89017 17.2444 6.32951 16.8051L14.159 8.97559H8.625C8.00368 8.97559 7.5 8.47191 7.5 7.85059C7.5 7.22927 8.00368 6.72559 8.625 6.72559H16.875C17.4963 6.72559 18 7.22927 18 7.85059V16.1006C18 16.7219 17.4963 17.2256 16.875 17.2256C16.2537 17.2256 15.75 16.7219 15.75 16.1006V10.5666L7.9205 18.3961C7.48116 18.8354 6.76884 18.8354 6.32951 18.3961Z"
          fill="white"></path>
      </svg>
    </span>
  </a>
</article>

<style>
  .card-testimony {
    border-radius: 24px;
    border: 1px solid #282828;
    background: #0d0d0e;

    display: flex;
    width: 325px;
    height: 428px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .card-testimony__company {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .card-testimony__company-logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  .card-testimony__company-name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
  }

  .card-testimony__person {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .card-testimony__person-name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
  }

  .card-testimony__person-job {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
  }

  .card-testimony__bio {
    overflow: hidden;
    width: 277px;
    height: 176px;
    mask: linear-gradient(180deg, #0a0a0a 0%, transparent 100%);
  }

  .card-testimony__text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: #73769e;
  }

  .card-testimony__Link {
    width: 176px;
    height: 49px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border-radius: 9999px;
    border: 1px 0px 0px 0px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #ffffff;
  }

  .card-testimony__Link-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-wrap: nowrap;
  }
  .card-testimony__Link-icon {
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
  }
</style>
