---
import { CardVariant, GradientBackground, SimpleCard } from '@components';
import { GradientColor } from 'components/GradientBackground/GradientBackground.astro';
import Layout from '@layouts/Layout.astro';
import Hero from '../pages/_Sections/Hero/Hero.astro';
import Contact from './_Sections/Contact/Contact.astro';
import Profession from './_Sections/Profession/Profession.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <GradientBackground color={GradientColor.blue} />
    <Hero />
    <div>
      <Profession />

      <div class="grid-auto-fit">
        <SimpleCard
          cardText="UX Designer para productos financieros de Chile y Perú"
          cardImage="/svg/logo-ripley.svg"
        />

        <SimpleCard
          cardText="Mira más sobre el proyecto"
          cardImage="/svg/img-ripley.svg"
          isInverted={true}
          variant={CardVariant.secondary}
          url="/"
        />

        <SimpleCard
          cardText="Mira más sobre el proyecto"
          cardImage="/svg/frame_4.svg"
          variant={CardVariant.tertiary}
          isInverted={true}
          url="/"
        />

        <SimpleCard
          cardText="Product designer para el equipo de Súper mercados, Jumbo, Santa Isabel y Spid"
          cardImage="/svg/cencosud_logo.svg"
        />
      </div>

      <Contact />
    </div>
  </main>
</Layout>

<style>
  main {
    padding-block-start: 4rem;
    max-width: 1280px;
    margin: 0 auto;
  }

  .grid-auto-fit {
    --min-item-width: 30rem;
    --grid-gap: 2rem;

    margin-inline: auto;
  }
</style>
