---
import { t } from 'i18n:astro';
import IconAna from '../../public/svg/ana-logo.svg';
import Behance from '../../public/svg/behance.svg';
import Github from '../../public/svg/github.svg';
import Instagram from '../../public/svg/ig.svg';
import Linkedin from '../../public/svg/linkedIn.svg';
import Twitch from '../../public/svg/twitch.svg';
---

<!-- TODO: Crear componente svg para iconos -->
<footer class="footer">
  <div class="container">
    <div class="column1">
      <img
        class="logo-ana"
        src={IconAna.src}
        alt="logo ana"
        loading="lazy"
        decoding="async"
        fetchpriority="low"
      />
      <div class="social">
        <p>{t('social_net')}</p>
        <ul class="social-icons">
          <li>
            <a href="https://www.behance.net/rangelana1a2a6" target="_blank" rel="noopener norefer"
              ><img
                class="icon"
                src={Behance.src}
                alt="Behance"
                loading="lazy"
                decoding="async"
                fetchpriority="low"
              /></a
            >
          </li>
          <li>
            <a href="https://github.com/AnaRangel" target="_blank" rel="noopener norefer"
              ><img
                class="icon"
                src={Github.src}
                alt="github"
                loading="lazy"
                decoding="async"
                fetchpriority="low"
              /></a
            >
          </li>
          <li>
            <a href="https://www.twitch.tv/uxanarangel" target="_blank" rel="noopener norefer"
              ><img
                class="icon"
                src={Twitch.src}
                alt="Twitch"
                loading="lazy"
                decoding="async"
                fetchpriority="low"
              /></a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/ux.ana.rangel/"
              target="_blank"
              rel="noopener norefer"
              ><img
                class="icon"
                src={Instagram.src}
                alt="Instagram"
                loading="lazy"
                decoding="async"
                fetchpriority="low"
              /></a
            >
          </li>

          <li>
            <a
              href="https://www.linkedin.com/in/ux-ana-rangel/"
              target="_blank"
              rel="noopener norefer"
              ><img
                class="icon"
                src={Linkedin.src}
                alt="Linkedin"
                loading="lazy"
                decoding="async"
                fetchpriority="low"
              /></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p set:html={t('copyright')} />
  </div>
</footer>

<style>
  .footer {
    border-top: 1px solid #2f303f;
    background: radial-gradient(334.99% 90.54% at 0.35% 53.17%, #010119 0%, #0d0d0e 100%);
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;

    & > * + * {
      margin-top: 3rem;
    }
  }

  .column1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .social p {
    color: white;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .icon {
    block-size: 1.5rem;
    height: 32px;
    width: 100%;
    max-width: 48px;
  }

  .contribution,
  .copyright {
    color: hsl(0deg 0% 100%);
    display: flex;
    justify-content: center;
    line-height: initial;
  }

  .logo {
    inline-size: 2.9375rem;
    block-size: 2.9375rem;
    margin-block-end: 1rem;
  }
</style>
