---
import IconAna from '../../public/svg/ana-logo.svg';
import Behance from '../../public/svg/behance.svg';
import Github from '../../public/svg/github.svg';
import Instagram from '../../public/svg/ig.svg';
import Linkedin from '../../public/svg/linkedIn.svg';
import Twitch from '../../public/svg/twitch.svg';
---

<!-- TODO: Crear componente svg para iconos -->
<footer class="footer">
  <div class="container">
    <div class="column1">
      <img class="logo-ana" src={IconAna.src} alt="logo ana" />
      <div class="social">
        <p>Redes Sociales</p>
        <ul class="social-icons">
          <li>
            <a href="https://www.behance.net/rangelana1a2a6" target="_blank" rel="noopener norefer"
              ><img class="icon" src={Behance.src} alt="Behance" /></a
            >
          </li>
          <li>
            <a href="https://github.com/AnaRangel" target="_blank" rel="noopener norefer"
              ><img class="icon" src={Github.src} alt="github" /></a
            >
          </li>
          <li>
            <a href="https://www.twitch.tv/uxanarangel" target="_blank" rel="noopener norefer"
              ><img class="icon" src={Twitch.src} alt="Twitch" /></a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/ux.ana.rangel/"
              target="_blank"
              rel="noopener norefer"><img class="icon" src={Instagram.src} alt="Instagram" /></a
            >
          </li>

          <li>
            <a
              href="https://www.linkedin.com/in/ux-ana-rangel/"
              target="_blank"
              rel="noopener norefer"><img class="icon" src={Linkedin.src} alt="Linkedin" /></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2024 Proudly Powered by Ana Rangel</p>
  </div>
</footer>

<style>
  .footer {
    margin-block-start: 4rem;
    border-top: 1px solid #2f303f;
    background: radial-gradient(334.99% 90.54% at 0.35% 53.17%, #010119 0%, #0d0d0e 100%);
    width: 100%;
    padding-inline: 0;
    margin-inline: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-block: 1.5rem;
    padding-inline: 4.5rem;
    margin: 0;
    width: 100%;
  }

  .column1 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    @media (width <= 570px) {
      justify-content: center;
    }
  }

  .social {
    inline-size: 100%;
    width: fit-content;
  }

  .social p {
    color: hsl(0deg 0% 100%);
    width: fit-content;
    @media (width <= 570px) {
      text-align: center;
      justify-content: center;
    }
    @media (width <= 570px) {
      width: 100%;
    }
  }

  .social-icons {
    display: flex;
    gap: 1rem;
    margin-block-start: 1rem;
    width: fit-content;
  }

  .icon {
    block-size: 1.5rem;
    height: 32px;
    width: 100%;
    max-width: 48px;
  }

  .contribution,
  .copyright {
    color: hsl(0deg 0% 100%);
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }

  .logo {
    inline-size: 2.9375rem;
    block-size: 2.9375rem;
    margin-block-end: 1rem;
  }
</style>
